/src/.vs/
/src/MauiClient/obj/
/src/MauiClient/bin/
/src/Client/obj/
/src/Client/bin/
/src/Server/obj/
/src/Server/bin/
/src/Common/obj/
/src/Common/bin/
/src/Client/Properties/launchSettings.json
/src/MauiClient/Properties/launchSettings.json
/src/Server/Properties/launchSettings.json
/src/Client/CloakTunnel.Client.csproj.user
/src/Server/CloakTunnel.Server.csproj.user
/src/MauiClient/CloakTunnel.MauiClient.csproj.user
/src/MauiClient/_build.bat
/src/Server/_build_ubuntu.bat
/src/Server/_debug.bat
